APP_NAME=Normalizador JusBrasil
APP_ENV=development
APP_VERSION=0.1.0
JWT_SECRET_KEY=9mGDEdfhlxRl3ZrZv2cnJmnBUicx2b-s0Tl0WbBkm1BfHTmtJuh4Cy50-j45j15GbxJKHLmBROHwEo1qvOex6g
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
